<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Property Finder</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header>
  <h1>SMARTROOF</h1>
  <p>Find your dream property with ease</p>
</header>
<main>
    <section class="search-section">
        <h2>Search Your special property</h2>
        <form id="property-search" method="POST" action="{{ url_for('predict') }}">
            <div class="form-group">
                <label for="sqft">Square Feet:</label>
                <input type="text" id="sqft" name="sqft" placeholder="Enter square footage" required>
            </div>
            <div class="form-group">
                <label for="bedrooms">Bedrooms:</label>
                <input type="text" id="bedrooms" name="bedrooms" placeholder="Enter number of bedrooms" required>
            </div>
            <div class="form-group">
                <label for="bathrooms">Bathrooms:</label>
                <input type="text" id="bathrooms" name="bathrooms" placeholder="Enter number of bathrooms" required>
            </div>
            <div class="form-group">
                <label for="location">Location:</label>
                <select id="location" name="location" required>
                    <option value="">Select Location</option>
                    <option value="Adyar">Adyar</option>
                    <option value="Anna Nagar">Anna Nagar</option>
                    <option value="Chrompet">Chrompet</option>
                    <option value ="KK Nagar">KK nagar</option>
                    <option value ="Karapakam">Karapakam</option>
                    <option value ="T Nagar">T nagar</option>
                    <option value ="Velachery">Velachery</option>
                </select>
            </div>
            <div class="form-group">
                <label for="parking">Parking:</label>
                <input type="checkbox" id="parking" name="parking">
            </div>
            <div class="form-group">
                <label for="building-type">Building Type:</label>
                <select id="building-type" name="building-type" required>
                    <option value="House">Residential</option>
                    <option value="Commercial">Commercial</option>
                    <option value="Others">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="utility">Utility:</label>
                <input type="checkbox" id="utility" name="utility">
            </div>
            <div class="form-group">
                <label for="street-type">Street Type:</label>
                <select id="street-type" name="street-type" required>
                    <option value="Gravel">Gravel</option>
                    <option value="Paved">Paved</option>
                    <option value="No Access">No Access</option>
                </select>
            </div>
            <button type="submit" class="search-button">Search your property!</button>
        </form>
    </section>
    <section>
        <div class="prediction-container" id="predictionContainer">
            <h4>Prediction Result</h4>
            <div class="prediction-amount" id="predictionAmount">
                {% if prediction %}
                    <p>The predicted price of your property is: {{ prediction }}</p>
                {% else %}
                    <p>Please search for a property to get a prediction.</p>
                {% endif %}
        </div>
    </section>
</main>

<footer>
  <p>© 2024 Property Finder. All rights reserved.</p>
</footer>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>